<!doctype html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <meta charset="utf-8" />
    <title>Tanky McTankface</title>
</head>
<body>
    <canvas id="gameCanvas" width="1366" height="768"></canvas>
</body>
</html>
