<!doctype html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <meta charset="utf-8" />
    <title>Tanky McTankface</title>
</head>
<body>
    <div id="gameArea">
        <canvas id="gameCanvas"></canvas>
        <div id="gameMenu">
            <div id="title">
                Tanky McTankface
            </div>
            <div id="buttonArea">
                    <div><button class="button" id="startbutton">Start</button></div>
                    <div id="freshdiv"><button class="button" id="freshstartbutton">Fresh Start</button></div>
            </div>
            <div id="sliderArea">
                    <div>Music Volume</div>
                    <div class="sliderDiv"><input type="range" min="0" max="100" value="10" class="slider" id="musicSlider"></div>
                    <div>SoundFX Volume</div>
                    <div class="sliderDiv"><input type="range" min="0" max="100" value="50" class="slider" id="fxSlider"></div>
            </div>
            <div id="footer">
                A <a href="https://js13kgames.com/">js13k Game</a> - © 2019 - Frederik Petersen
            </div>
        </div>
    </div>
</body>
</html>
